<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al Capone</title>

</head>
<body>

<div class="wrapper">
    <header class="container">
        <span class="logo">logo</span>
        <nav>
            <ul>
                <li class="active"><a href="/capone.html">Home</a></li>
                <li><a href="/">About as</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">News</a></li>
                <li class="btn"><a href="#">Contacts</a></li>
            </ul>
        </nav>
    </header>
    <header class="container"></header>



</div>

<footer>
    <div class="blocks container">
        <div>
            <span class="logo">logo</span>
            <p>**********</p>
        </div>
        <div>
            <h4>*******</h4>
            <ul>
                <li>*****</li>
                <li> ******</li>
                <li> **********</li>
                <li> **************</li>
            </ul>
        </div>
        <div>
            <h4>*****************</h4>
            <p>***********************</p>
            <p>0000000</p>
        </div>

    </div>
    <hr>
    <p>********************</p>
</footer>

</body>
</html>

